body {
    display: grid;
    place-items: center;
    font-family: sans-serif;
}

#page {
    margin: 1rem 0;
    padding: 2rem;
    width: clamp(12rem, 70vw, 40rem);
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: rgb(225, 255, 246);
    border-radius: 2rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

hr {
    width: 100%;
}

#info {
    width: 100%;
    border-collapse: collapse;
}

#info tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}
#info tr td {
    margin: 0;
    border: 0;
    padding: 0.5rem 1rem;
    /* border-radius: 0.5em ; */
}
#info tr td:first-child{
    width: min-content;
    border-radius: 0.5rem 0 0 0.5rem;
}
#info tr td:last-child{
    border-radius: 0 0.5rem 0.5rem 0;
}
